export let BSJS: string = "https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js";
export let BSCSS: string = "https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css";

export func getBootstrapConnections() {
	return [
		BSJS,
		BSCSS
	]
}